# Intellij IDE
.idea/

# Ecpipse IDE
.settings/
.project
.classpath

# Gradle
/**/build/
.gradle

# Maven
/**/target/

# Windows OS
Thumbs.db
Desktop.ini

# Mac OS
.DS_Store

# Linux OS
*~
